/* your styles go here */

.help-block.with-errors{
	color: #D63347;
	font-size: 12px;
}

/* LOGIN - REGISTER */
.form-inner{
	position: relative;
}
.help-btn{
	position: absolute;
	top: 10px;
	left: 10px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/* login help modal */
#info .modal-content{
	border-radius: 0 !important;
}
ul.how-to-use{
	color: #6b6b6b;
	font-size: 13px;
}
ul.how-to-use > li:before{
	font-family: fontAwesome;
	content: "\f054";
	margin-right: 5px;
}
ul.how-to-use > li{
	margin-bottom: 6px;
}
/* LOGIN - REGISTER */


/* INDEX */
.brand-text img{
	height: 29px;
	width: auto;
}
a.nav-link{
	padding: .32rem .7rem ;
}
nav.navbar .new-info{
	position: absolute;
	top: 3px;
	right: 3px;
	width: 7px;
	height: 7px;
}
.nav-menu > .nav-item > .dropdown-menu{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	max-height: 0;
	display: block;
	overflow: hidden;
	opacity: 0;
}
.nav-menu > .nav-item > .dropdown-menu.show{
	max-height: 240px;
	opacity: 1;
	overflow-y: auto;
}
.nav-menu > .nav-item > .dropdown-menu:before{
	content: '';
	position: absolute;
	top: -10px;
	right: 5px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
}

nav.side-navbar.shrink li ul.collapse a{
	padding-left: 5px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: nowrap;
	margin-bottom: -7px;
}
/* INDEX */

/* LOGIN */
.language-list{
	padding: 0px;
	margin-top: 1px;
}
.language-list .dropdown-item{
	padding: 0.25rem .6rem;
	line-height: 1;
	font-size: 13px;
}
.language-list .dropdown-item img{
	margin-right: 5px;
}
.btn-outline-primary.btn-language:focus{
	box-shadow: none;
}
/* LOGIN */


/*datepicker*/
.datepicker table, .datetimepicker table {
	min-width: 280px;
}
.datepicker thead tr:nth-child(3),
.datetimepicker thead tr:nth-child(2) th {
	background-color: #fff;
}
.datepicker thead tr th,
.datetimepicker th {
	padding: 10px 0;
	text-align: center;
}
.datepicker thead tr:nth-child(3) th {
	padding-bottom: 5px; 
}
.date input {
	font-weight: 300;
}
/*select2*/
.select2-container .selection{
	width: 100%;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
	display: block;
	color: #495057;
	font-size: 1rem;
	border: 1px solid #ced4da!important;
	border-radius: 0 !important;
	min-height: 38px;
	font-weight: 300;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 38px !important;
	font-size: 1rem;
}
section.forms.tables .card-header{
	height: auto;
}
section.forms.tables div[class*="col-"] {
	margin-bottom: 0px;
}
.container-fluid{
	padding-left:1%;
	padding-right:1%;
} 
/*courses- courseDetails*/
header h1 button {
	margin-top: -5px;
}
  /* card course */
.card-course .card-img-top {
	border-radius: 0;
	height: 180px;
	object-fit: cover;
}
.card-course:hover{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	transition: box-shadow .4s;
}
.course-cover-img img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.active-switcher label {
	cursor: pointer;
}
/*courses- courseDetails*/

.card-course .card-dropdown-options{
  position: absolute;
  top: 15px;
  right: 15px;
}
.card-course .card-dropdown-options .dropdown-toggle:hover i,
.card-course .card-dropdown-options.show .dropdown-toggle i,
.card-course .card-dropdown-options.show .dropdown-toggle::after,
.card-course .card-dropdown-options .dropdown-toggle:hover::after{
  color: #212529;
}

.file {
  position: relative;
  height: 2.5rem;
  width: 100%;
}
.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.file-custom, .file-custom:before {
  position: absolute;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
}
/* .file-custom::after { 
	content: ""; 
} */
.file-custom { 
  overflow: hidden; 
  white-space: nowrap; 
}
.file-custom, .file-custom:before {
  position: absolute;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
}
.file-input-text{
	background-color: #607d8b;
	position: absolute;
	color: #fff !important;
	top: 0px;
  right: -.075rem;
  bottom: -.075rem;
	z-index: 6;
	float: right;
	padding: 10px;
	height: 100%;
}
.course-info-btn{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.card-course .course-title{
	position: absolute;
	top: 45px;
	left: 20px;
	padding-right: 10px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 25px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/*custom-radio*/
.i-checks-lg input.form-control-custom + label {
	margin-bottom: 10px;
	padding-left: 40px;
}
.i.checks-lg input.form-control-custom + label span {
	margin-left: 20px;
}
.i-checks-lg input.form-control-custom + label::before {
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.i-checks-lg input.form-control-custom + label::after {
	font-size: 12px;
	top: 6px;
	left: 6px;
}
.i-checks-lg input.form-control-custom.radio-custom + label::after {
	width: 11px;
	height: 11px;
	line-height: 12px;
	top: 9px;
	left: 7px;
}

.i-checks-md input.form-control-custom + label {
	margin-bottom: 10px;
	padding-left: 30px;
}
.i-checks-md input.form-control-custom + label::before {
	width: 20px;
	height: 20px;
	line-height: 20px;
}
.i-checks-md input.form-control-custom + label::after {
	font-size: 10px;
	top: 5px;
	left: 5px;
}
.i-checks-md input.form-control-custom.radio-custom + label::after {
	width: 8px;
	height: 8px;
	line-height: 8px;
	top: 8px;
	left: 6px;
}
/*custom-radio*/
/*accordion-menu*/
#accordion .toggle-icon {
	display: inline;
	margin-right: 10px;
	font-size: 20px;
}
#accordion .card-header {
	background-color: #eceff1;
	border-bottom-color: #cfd6db;
}
/*accordion-menu*/
/* homework */
.criterion-table input:focus{
	box-shadow: none !important;
}
.criterion-table td{
	padding: 0 !important;
}
.criterion-table .btn-danger{
	width: 100%;
	margin-top: 5px;
	padding: 0.1rem 0.2rem;
}
@media (min-width: 1100px){
	.modal-lg {
		max-width: 1000px;
	}
}
#homeworkAccordion .card-header,
.homework-accordion .card-header {
	background-color: #eceff1;
	border-bottom-color: #cfd6db;
	height: auto;
}
.homework-accordion table img{
	width: 35px;
}
.homework-accordion table td{
	vertical-align: middle;
}
.homework-detail-card {
	box-shadow: none;
	font-size: .86rem;
	position: relative;
}
#student-profile-card {
	background-color: #66717E;
	position: absolute;
	width: 14rem; 
	top: -6px;
	right: 65px;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 992px) and (max-width: 1450px){
	#student-profile-card{
		top: -6px;		
		right: 50px;
	}
}
@media screen and (max-width: 768px){
	.detail-col{
		margin-top: 10rem;
	}
}
#student-profile-card li > h5{
	max-width: 100px;
	word-wrap: break-word;
	line-height: 1.5;
}
#student-profile-card h5{
	max-width: 140px;
	word-wrap: break-word;
	line-height: 2.5;
}
#student-profile-card ul li{
	vertical-align: middle;
}
#student-profile-card:before,
#student-profile-card:after{
	content: '';
	width: 0;
	height: 0;
	top: 7px;
	right: -7px;
	border-bottom: 7px solid transparent!important;
	border-left: 7px solid #4a586b;
	position: absolute;
	transform: translateY(-100%) rotate(-90deg);
	-moz-transform: translateY(-100%) rotate(-90deg);
	-webkit-transform: translateY(-100%) rotate(-90deg);
}
#student-profile-card img{
	width: 70px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.point-table td{
	vertical-align: middle;
}
@media screen and (min-width:768px){
	.point-table input{
		width: 50%;
	}
}

.selectable-cell{
	cursor: pointer;
}
.selected-point-cell{
	background-color: #868ba1;
	color: #fff;
}
.selected-point-cell small{
	color: #fff !important;
}
/* homework */
/* project */
.percent{
	position: relative;
}
.percent i{
	color: #999;
	opacity: .7;
	font-size: .8rem;
	position: absolute;
	left: 1.1rem;
	padding: 13px 10px;
}
.percent input{
	padding-left: 30px;
}
.borderless td, .borderless th {
	border: none;
}
/* project */