/public/storage
/public/hot
/node_modules
/vendor
.idea/

/storage/*.key

/public/mix-manifest.json
/chat/env
.pyc
composer.phar
Homestead.json
Homestead.yaml
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.env
*.lock
package-lock.json
.env.*
.DS_Store
tests/db.sqlite